flows.json
[
    {
        "id": "d884001d44cfc1f0",
        "type": "tab",
        "label": "http with odbc",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "db7ee6975d1f1389",
        "type": "ODBC_CONNECTION",
        "connection": "DSN=RZKH"
    },
    {
        "id": "fc5627a91ce0d98c",
        "type": "http in",
        "z": "d884001d44cfc1f0",
        "name": "",
        "url": "/employees",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "67f5a3ceb2f05830",
                "dad89d1ecb61296b"
            ]
        ]
    },
    {
        "id": "67f5a3ceb2f05830",
        "type": "debug",
        "z": "d884001d44cfc1f0",
        "name": "Get Employees",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 300,
        "wires": []
    },
    {
        "id": "6ebb071f62a7faaa",
        "type": "http response",
        "z": "d884001d44cfc1f0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "d2d01aef5018fe00",
        "type": "debug",
        "z": "d884001d44cfc1f0",
        "name": "Query Employees",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "dad89d1ecb61296b",
        "type": "ODBC",
        "z": "d884001d44cfc1f0",
        "connection": "db7ee6975d1f1389",
        "name": "Employee query",
        "query": "select * from employee \nwhere WORKDEPT = '{{payload{WORKDEPT}}}'",
        "outField": "payload",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "d2d01aef5018fe00",
                "6ebb071f62a7faaa"
            ]
        ]
    },
    {
        "id": "075a19ed11cad6bd",
        "type": "inject",
        "z": "d884001d44cfc1f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "A00",
        "payloadType": "str",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "dad89d1ecb61296b",
                "6045095c6fc54bab"
            ]
        ]
    },
    {
        "id": "6045095c6fc54bab",
        "type": "debug",
        "z": "d884001d44cfc1f0",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 100,
        "wires": []
    }
]