flows.json
[
    {
        "id": "d884001d44cfc1f0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc5627a91ce0d98c",
        "type": "http in",
        "z": "d884001d44cfc1f0",
        "name": "",
        "url": "/postthis",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "67f5a3ceb2f05830",
                "3c1a8c5d488aae04"
            ]
        ]
    },
    {
        "id": "67f5a3ceb2f05830",
        "type": "debug",
        "z": "d884001d44cfc1f0",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 340,
        "wires": []
    },
    {
        "id": "6ebb071f62a7faaa",
        "type": "http response",
        "z": "d884001d44cfc1f0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 160,
        "wires": []
    },
    {
        "id": "d2d01aef5018fe00",
        "type": "debug",
        "z": "d884001d44cfc1f0",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "3c1a8c5d488aae04",
        "type": "function",
        "z": "d884001d44cfc1f0",
        "name": "function 1",
        "func": "node.warn(msg.payload);\n\nvar newMsg = { payload: msg.payload.length };\n\nnode.warn(newMsg);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "d2d01aef5018fe00",
                "6ebb071f62a7faaa"
            ]
        ]
    }
]